/* ------------------------------------Education ------------------------------------*/
.school-name {
    font-weight: bold;
    font-size: 1.2em;
    color: #666;
}

.time-period {
    font-size: 1em;
    color: #666;
    text-align: right;
    font-style: italic;
}

.education-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#education p {
    margin-bottom: 30px; /* 调整为合适的间距 */
}




/* ------------------------------------project ------------------------------------*/
/* 项目标题样式 */
.project-item h3 {
    font-size: 1.2em; /* 增大标题字体 */
    font-weight: bold; /* 设置标题为粗体 */
    margin-bottom: 5px; /* 标题和简介之间的间距 */
}

/* 链接颜色（可选） */
.project-item h3 a {
    color: #666;
    text-decoration: none;
}

.project-item h3 a:hover {
    color: #cfac67; /* 鼠标悬停颜色 */
}

/* 项目简介样式 */
.project-description {
    margin-left: 20px; /* 向右缩进，让简介整体右移 */
    font-size: 1em;
    color: #555; /* 调整字体颜色为灰色 */
    line-height: 1.6; /* 增加行距 */
}

#projects p {
    margin-bottom: 30px; /* 调整为合适的间距 */
}


/* ------------------------------------working experience *------------------------------------*/

.work-item h3 {
    font-size: 1.2em; /* 增大标题字体 */
    font-weight: bold; /* 设置标题为粗体 */
    margin-bottom: 5px; /* 标题和简介之间的间距 */
}

/* 链接颜色（可选） */
.work-item h3 a {
    color: #666;
    text-decoration: none;
}

.work-item h3 a:hover {
    color: #cfac67; /* 鼠标悬停颜色 */
}

/* 项目简介样式 */
.work-description {
    margin-left: 20px; /* 向右缩进，让简介整体右移 */
    font-size: 1em;
    color: #555; /* 调整字体颜色为灰色 */
    line-height: 1.6; /* 增加行距 */
}

#work-experience p {
    margin-bottom: 30px; /* 调整为合适的间距 */
}



